# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Flutter / Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# Android / iOS
**/android/.gradle/
**/android/local.properties
**/ios/Pods/
**/ios/.symlinks/

# Logs
*.log
